*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to left, #00aaff, #00ff6c);
}

.calculator-grid {
  display: grid;
  margin: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
  border-radius: 0;
  background-color: #c1eff2;
  cursor: pointer;
  font-size: 1.6rem;
  border: 1px solid white;
  outline: none;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: white;
  outline: none;
}
.output {
  color: white;
  grid-column: 1 / -1;
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}
.span-two {
  grid-column: span 2;
}
.prev-operand {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
}
.current-operand {
  font-size: 2.5rem;
}
